<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">
                      404
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    name: "logout",
        mounted(){
             window.location.href = '/notfound';


        }
    }
</script>
