<template>
 <div>
  <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <form action="#" v-on:submit.prevent = "withdrawalRequest()">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-money"></i></label>
                                            </div>
                                            <input type="text" v-model="withdrawal_amount" class="form-control" placeholder="5000 USD">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-bank"></i></label>
                                            </div>
                                            <select  class="form-control" v-model="selected_wallet"  >
                                                <option  v-for="account in selectedWallet" :key="account.id" :value = "account.id"><span >{{account.address}} ({{account.type}}) </span></option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Withdraw Now</button>
                                </form>
                                <hr>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="card acc_balance">
                            <div class="card-header">
                                <h4 class="card-title">Wallet</h4>
                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-between my-4">
                                    <div>
                                        <p class="mb-1">Total Ballance</p>
                                        <h4 style="color:green">{{parseInt(this.account.available_balance) + parseInt(this.account.pending_balance)+ parseInt(this.account.locked_balance) }}</h4>
                                    </div>
                                    <div>
                                        <p class="mb-1">Available Balance</p>
                                        <h4 style="color:green">{{this.account.available_balance}} USD</h4>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between my-4">
                                    <div>
                                        <p class="mb-1">Pending Ballance</p>
                                        <h4 style="color:orange">{{this.account.pending_balance}} USD</h4>
                                    </div>
                                    <div>
                                        <p class="mb-1">Locked Balance</p>
                                        <h4 style="color:red">{{this.account.locked_balance}} USD</h4>
                                    </div>
                                </div>

                             
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Withdraw</h4>
                            </div>
                            <div class="card-body">
                                <form action="#" v-on:submit.prevent="investFunds()">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-money"></i></label>
                                            </div>
                                            <input required v-model="invest_amount" type="text" class="form-control" placeholder="5000 USD">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-bank"></i></label>
                                            </div>
                                            <select class="form-control" v-model="invest_package" required>
                                                <option v-for="type in investment_type" :key="type.id" :value = "type.id">{{type.name}}</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Invest Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                     <div class="card">
                            <div class="card-header border-0">
                                <h4 class="card-title">Investments</h4>
                            </div>
                            <div class="card-body pt-0">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                     <table id="example1" class="table table-striped table-bordered" style="width:100%">
                                                <thead style="color: white">
                                                    <tr>
                                                     <th>ID</th>
                                                    <th>Type</th>
                                                    <th>Duration</th>
                                                    <th>Percentage</th>
                                                    <th>amount</th>
                                                    <th>Interest Due</th>
                                                    <th>Interest Paid</th>
                                                    <th>Daily Reward</th>
                                                    <th>Status</th>
                                                    <th>Date Due</th>
                                                    <th>Investment Date</th>
                                                    </tr>
                                                </thead>
                                            <tbody>
                                               
                                                <tr v-for="investment in investments" :key="investment.id">
                                                    <td>
                                                        {{investment.id}}
                                                    </td>
                                                    <td>{{investment.type}}</td>
                                                    <td>{{investment.duration}}</td>
                                                    <td>{{investment.percentage}}%</td>
                                                   <td class="text-danger">{{investment.amount}} USD</td>
                                                   <td class="text-warning">{{investment.interrest_due}} USD</td>
                                                   <td class="text-success">{{investment.interrest_paid}} USD</td>
                                                   <td class="text-success">{{investment.daily_reward}} USD</td>
                                                   <td >{{investment.status}} </td>
                                                   <td >{{investment.due_date}} </td>
                                                   <td >{{investment.created_at}} </td>
                                                  
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="col-xl-6">
                     <div class="card">
                            <div class="card-header border-0">
                                <h4 class="card-title">Withdrawals</h4>
                            </div>
                            <div class="card-body pt-0">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                         <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                <thead style="color: white">
                                                    <tr>
                                                    <th>ID</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                      
                                            <tbody>
                                                
                                                <tr v-for="withdrawal in withdrawals" :key="withdrawal.id">
                                                    <td><span class="sold-thumb">{{withdrawal.id}}</span>
                                                    </td>
                                                     <td class="text-danger">{{withdrawal.amount}}</td>
                                                    <td>
                                                        <span class="badge badge-danger">{{withdrawal.status}}</span>
                                                    </td>
                                                    
                                            
                                                    <td>
                                                        <span class="badge badge-success">{{withdrawal.created_at}}</span>
                                                    </td>
                                                    <td>
                                                        <button v-on:click="cancelWithdrawal(withdrawal.id)" v-if="withdrawal.status == 'Pending'" class="btn btn-danger btn-sm"><i class="la la-times"> </i></button>
                                                    </td>
                                                   
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
</div>
</template>

<script>
// import transactions from './transactions.vue';
    export default {
//   components: { transactions },
    name: "dasboard",
        data(){
        return {
          name: "50",
          account: {},
          loading: false,
          renderComponent: true,
          transactions: [],
          wallets: [] ,
          invest_amount: 0, 
          investment_type: [], 
          invest_package: 0, 
          deposit_amount: 0, 
          withdrawal_amount: 0, 
          selected_wallet: '',
          selectedWallet: [],
          investments: [],
          withdrawals: []
        
        }
        },
       methods: {
           cancelWithdrawal(id){
                 this.open();

            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/cancelWithdrawal/' + id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Your Withdrawal has been Cancelled Successfully',
                        'success'
            ) ; 
                         
                      }else{
                    console.log("artisan status not verified");
                      this.$swal(
                        'Error',
                        'Invalid Request',
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 
                      }
                     this.close();
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                     this.close();
                       this.$swal(
                        'Error',
                        err.message,
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 

                  }); 
           },
           withdrawalRequest(){
            if(this.selectedWallet.length == 0){
               this.$swal(
                        'Error',
                        'Please Add a Withdrawal or activate a Wallet to your Account to be able to make withdrawal',
                        'error'
            ) ;   
            }else if(this.selected_wallet == ''){
                 this.$swal(
                        'Error',
                        'Please Select a withdrawal Address',
                        'error'
            ) ;    
            } else if(parseInt(this.withdrawal_amount) == 0){
             this.$swal(
                        'Error',
                        'Enter a Valid Amount',
                        'error'
            ) ; 

         }
        else if(parseInt(this.withdrawal_amount) > parseInt(this.account.available_balance)){
            this.$swal(
                        'Error',
                        'Insufficient Funds Available',
                        'error'
            ) ;  
         }else{
              this.open();

            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/placeWithdrawal' , { "amount": this.withdrawal_amount, "address_id": this.selected_wallet}).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Your Investment has been Created Successfully',
                        'success'
            ) ; 
                         
                      }else{
                    console.log("artisan status not verified");
                      this.$swal(
                        'Error',
                        'Insufficient Funds Available',
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 
                      }
                     this.close();
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                     this.close();
                       this.$swal(
                        'Error',
                        err.message,
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 

                  });   
         } 
           },
     investFunds(){
         console.log(this.invest_amount);
         console.log(this.invest_package);
         if(parseInt(this.invest_amount) == 0){
             this.$swal(
                        'Error',
                        'Enter a Valid Amount',
                        'error'
            ) ; 

         }
        else if(parseInt(this.invest_amount) > parseInt(this.account.available_balance)){
            this.$swal(
                        'Error',
                        'Insufficient Funds Available',
                        'error'
            ) ;  
         }else{
         this.open();

            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/invest' , { "amount": this.invest_amount, "type": this.invest_package}).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Your Investment has been Created Successfully',
                        'success'
            ) ; 
                         
                      }else{
                    console.log("artisan status not verified");
                      this.$swal(
                        'Error',
                        'Insufficient Funds Available',
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 
                      }
                     this.close();
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                     this.close();
                       this.$swal(
                        'Error',
                        err.message,
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 

                  });   
         }

     }   , 
     click(){
     this.account.available_balance =parseInt(this.account.available_balance) + 100;

     this.renderComponent = !this.renderComponent ;
     }   ,  
      open(){
                $('#main-wrapper').removeClass('show');
                $('#preloader').fadeIn(20);
      },
      close(){
              $('#preloader').fadeOut(1000);
             $('#main-wrapper').addClass('show');
      },
      validateUser(){
          this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/validateSession').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                         
                      }else{
                    
                     window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                     window.location.href = '/login'; 

                  });    
      },
      selectWallet(){
          this.selectedWallet = [];
          this.wallets.forEach(wallet => {
              if(wallet.status == '1'){
                  this.selectedWallet.push(wallet);
              }
          });
      },
      getData(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/userdashboard').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                         this.account = response.data.user.account;
                         this.transactions = response.data.user.transactions;
                         this.wallets = response.data.user.wallets;
                         this.investment_type = response.data.investment_type;
                         this.investments = response.data.user.investment;
                         this.withdrawals = response.data.user.withdrawal;
                         this.selectWallet();
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
      }
        
      },
      
        mounted(){
          this.validateUser();
          this.getData();
          this.renderComponent =false;
            Fire.$on('reload', () => {
            this.getData();
          })
          setTimeout(() => {
                $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
                    $('#example1').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
          }, 3000);

        }
    }
</script>
