<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">
                       Dashboard
                       <button v-on:click ="open()"> click</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    name: "dasboard",
        data(){
        return {
          name: "",
     
        }
        },
       methods: {
          
      open(){
 $('#main-wrapper').removeClass('show');
                $('#preloader').fadeIn(20);
      }
        
      },
        mounted(){
            this.role = localStorage.getItem('role');
            console.log(this.role);
            if(this.role == 'user' ){
            window.location.href = '/userdashboard';
            }else if(this.role == 'admin'){
            window.location.href = '/admindashboard';

            }else if(this.role == 'support_admin'){
            window.location.href = '/supportadmindashboard';
                
            }
            else if(this.role == 'super_admin'){
            window.location.href = '/superadmin';
                
            } else{
            //    window.location.href = '/login'; 
            }  
           


        }
    }
</script>
