<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">
                       <div class="row">
                                     <div class="col-md-4 offset-4" >
                                       <img src="/dash/images/loader.gif" alt="this slowpoke moves"  width=250/>
                                    </div> 
                                
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    name: "logout",
        data(){
        return {
          name: "",
     
        }
        },
       methods: {
          
         loggout(){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/logout').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                         
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
        }
        
      },
        mounted(){
            // console.log('login out.');
            // this.loggout();
             localStorage.removeItem('access_token');
             localStorage.removeItem('name');
             localStorage.removeItem('email');
             localStorage.removeItem('id');
             localStorage.removeItem('role');
             localStorage.removeItem('created_at');
             window.location.href = '/login';


        }
    }
</script>
