<template>
         <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                  <form action=""  v-on:submit.prevent = "createTicket()">
                                        <label for="">title</label>
                                        <input type="text" class="form-control" v-model="title" required>
                                        <label for="">Message</label>
                                    <textarea name="" id="" class="form-control" v-model="message" required></textarea>
                                    <br>
                                    <button    class="btn btn-success btn-sm" type="submit" id="create" ><i class="la la-plus"></i> <span id="createtext">Create Ticket</span> </button>
                                    
                                    </form>
                                    <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Tickets</h3>
                
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0"  style=" height: 310px; overflow: auto;">
             
                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                    <tr v-for="ticket in tickets" :key="ticket.id" v-on:click.prevent = "openTicket(ticket)">
                      <td>
                        {{ticket.id}}
                      </td>
                      <td class="mailbox-name">{{ticket.title}}</td>
                      <td><span class="badge badge-info">{{ticket.status}}</span></td>
                      <td class="mailbox-subject">
                              <span class="badge badge-info"><vue-moments-ago prefix="created" suffix="ago" :date="ticket.created_at"></vue-moments-ago></span>
                      </td>
                      <td><span class="badge badge-success" v-if='ticket.unread != "0"'>{{ticket.unread}}</span></td>
                    </tr>
                    
                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
              </div>
           
            </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                         <div class="card " v-show="ticket != ''">
              <div class="card-header">
                <h3 class="card-title">{{ticket.title}} <span class="badge badge-info">{{ticket.status}}</span></h3>
  
              </div>
              <!-- /.card-header -->
              <div id="chat" class="card-body p-0" style='overflow:scroll;overflow-x:hidden;max-height:500px;' >
               <div v-for="message in messages" :key="message.id">
                    <div class="mailbox-read-info alert alert-warning" >
                  <h6>
                      <span v-if="ticket.user_id == message.sender_id" style="color: red">To: support@capitrek.com</span>
                      <span v-else style="color: green">From: support@capitrek.com ({{message.user.name }})</span>
                      
                    <span class="mailbox-read-time float-right alert alert-warning">{{message.created_at}}</span></h6>
                </div>
                <!-- /.mailbox-read-info -->
             
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                
  
                  <p style="padding:20px">{{message.message}} </p>
  
                </div>
               </div>
               
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
             
              <!-- /.card-footer -->
              <div class="card-footer" v-if="ticket.status != 'Closed'">
                <p>
                <textarea name="" id="" class="form-control" cols="20" v-model="message"></textarea>
                    </p> 
               <div class="float-right">
                  <button type="button" class="btn btn-success" v-on:click = "replyTicket()" id="reply"><i class="la la-reply"></i> <span id="replytext">Reply</span></button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
                    </div>
                </div>

         
            </div>
        </div>
</template>

<script>
import VueMomentsAgo from 'vue-moments-ago';

    export default {
    name: "support",
    components: {
    VueMomentsAgo
  },
        data(){
        return {
          tickets: [],
          ticket: '',
          messages: [],
          user_id : '',
          message: '',
          title : ''
        }
        },
       methods: {
          
        openTicket(ticket){
            this.ticket = ticket;
            this.messages = ticket.messages;
            this.markRead();
            this.scrollDown();
        },
        scrollDown(){
            setTimeout(() => {
                let d = $('#chat'); 
           $(d).scrollTop( $(d).prop("scrollHeight") );
           
            } , 500);
             
        },
        createTicket(){
this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            $('#create').attr('disabled','disabled');
                 $('#createtext').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/support/ticket/create' , { 'title' : this.title , 'message' : this.message}).then((response) => {
                
                    if(response.data.code == 200){
                         Fire.$emit('reload');
                        setTimeout(() => {
                            this.tickets.forEach(ticket => {
                              if(this.ticket.id == ticket.id){
                                      this.ticket = ticket;
                                     this.messages = ticket.messages;
                                     this.scrollDown();
                              }
                          });
                        } , 1000);
                        this.message = "";
                        this.title = "";
                      $('#createticket').modal('hide');

                         this.$swal(
                        'Successful',
                        'Ticket Created.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                   
                    $('#createtext').text('Create Ticket');
                      $('#create').removeAttr('disabled');
                    }).catch(err => {

                    //  window.location.href = '/login'; 
                     $('#createtext').text('Create Ticket');
                      $('#create').removeAttr('disabled');
                  });   
        },
        openCreateTicket(){
            this.title = "";
            this.message = "";
            $('#createticket').modal('show');
        },
        replyTicket(){
            if(this.message == ''){
                this.$swal(
                        'Error',
                        'Enter Reply Message.',
                        'error'
                      ) ;
            }
            else{
this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            $('#reply').attr('disabled','disabled');
                 $('#replytext').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/support/ticket/reply' , { 'ticket_id' : this.ticket.id  , 'message' : this.message}).then((response) => {
                
                    if(response.data.code == 200){
                         Fire.$emit('reload');
                        setTimeout(() => {
                            this.tickets.forEach(ticket => {
                              if(this.ticket.id == ticket.id){
                                      this.ticket = ticket;
                                     this.messages = ticket.messages;
                                     this.scrollDown();
                              }
                          });
                        } , 1000);
                        this.message = "";
                         this.$swal(
                        'Successful',
                        'Message Sent.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                   
                    $('#replytext').text('Reply');
                      $('#reply').removeAttr('disabled');
                    }).catch(err => {

                    //  window.location.href = '/login'; 
                     $('#replytext').text('Reply');
                      $('#reply').removeAttr('disabled');
                  });     
      
            }
 
        },
        markRead(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/support/ticket/markread/' + this.ticket.id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                          Fire.$emit('reload'); 
                         
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                      window.location.href = '/login'; 

                  });  
        },
        getTickets(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/support/ticket').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.tickets = response.data.tickets;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                      window.location.href = '/login'; 

                  });   
        }
      },
        mounted(){
        this.getTickets();
       Fire.$on('reload', () => {
        this.getTickets();

          })
        }
    }
</script>
