<template>
    <div >
                   <div class="row" v-if="loading">
                                     <div class="col-md-4 offset-4" >
                                       <img src="/dash/images/loader.gif" alt="this slowpoke moves"  width=250/>
                                    </div> 
                                
                                </div>           
                            <div class="row" v-else>
                    <div class="col-xl-8 col-lg-12 col-xxl-8" >
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Balances</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="buy-sell-widget">
                                            <form  class="currency_validate form-row">
                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Total Balance</label>
                                                    <p class="text-success">{{parseInt(accountData.available_balance) + parseInt(accountData.pending_balance) + parseInt(accountData.locked_balance)}} <span>USD </span></p>
                                                    <button type="submit" name="submit"
                                                            class="btn btn-success btn-sm">Deposit Funds</button>
                                                </div>

                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Available Balance</label>
                                                    <p class="text-success">{{accountData.available_balance}} <span>USD </span></p>
                                                    <button type="submit" name="submit"
                                                            class="btn btn-success btn-sm">Withdraw Funds</button>
                                                </div>

                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Investment (Locked)</label>
                                                    <p class="text-danger">{{accountData.locked_balance}} <span>USD </span></p>
                                                    <button 
                                                      v-on:click.prevent ="test()"      class="btn btn-success btn-sm" id="button" >Invest Funds</button>
                                                </div>

                                               


                                            </form>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        
                            <div class="col-xl-4 col-xxl-6">
                                <div >
                                    <apexchart type="radialBar" height="350" :options="chartOptions" :series="series"></apexchart>
                                </div>

                            </div>
                            </div>
                            

                            

                        </div>
</template>

<script>
    export default {
    name: "dasboard",
    props: [ 'accountData' ],
        data(){
        return {
          name: "",
          loading: true,
          account: '',
          total_balance: 100,
          available_balance: 0,
          pending_balance: 0,
          locked_balance: 0,
          series: [0, 0, 0, 0],
          chartOptions: {
            chart: {
              height: 350,
              type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                dataLabels: {
                  name: {
                    fontSize: '22px',
                  },
                  value: {
                    fontSize: '16px',
                  },
                  total: {
                    show: true,
                    label: 'Total',
                    formatter: function (w) {
                      // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                      return this.totalbalance;
                    }
                  }
                }
              }
            },
            labels: ['Total Balance', 'Available Balance', 'Pending Balance', 'Locked Balance'],
          },

        }
        },
        watch: {

          accountData: function(newVal, oldVal) { // watch it
          console.log('Prop changed: ', newVal, ' | was: ', oldVal)
           this.account = newVal;
           this.available_balance =  this.account.available_balance;
           this.pending_balance =  this.account.pending_balance;
           this.locked_balance =  this.account.locked_balance;
          
          },
          immediate: true
        // accountData: function(newVal) { 
        //    this.account = newVal;
        //    this.available_balance =  this.account.available_balance;
        //    this.pending_balance =  this.account.pending_balance;
        //    this.locked_balance =  this.account.locked_balance;
        // }
      },
       methods: {
      test(){
     console.log(this.account);
       setTimeout(() => {
          this.loading = false;
           this.series[0] = 100;
           this.series[1] = 30;//(this.account.available_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[2] = 40;//(this.account.pending_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[3] = 50;//(this.account.locked_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;

          }, 2000);
        
      } ,   
      open(){
                $('#main-wrapper').removeClass('show');
                $('#preloader').fadeIn(20);
      },
      close(){
              $('#preloader').fadeOut(1000);
             $('#main-wrapper').addClass('show');
      }
        
      },
        mounted(){
          
          setTimeout(() => {
            this.loading = false;
               this.series[0] = 100;
           this.series[1] = (this.account.available_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[2] = (this.account.pending_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[3] = (this.account.locked_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;

          }, 2000);
            
        }
    }
</script>
