<template>
 <div>
 
   <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-xxl-12">
                         <div class="card welcome-profile transparent">
                                            <div class="card-body">
                                                <img src="images/profile/2.png" alt="">
                                                <!-- <h4>Welcome, {{user.name}} !</h4> -->
                                                

                                                <ul>
                                                    <li>
                                                        <a href="#" v-on:click="click()">
                                                            <span class="verified"><i
                                                                    class="icofont-check-alt"></i></span>
                                                            Verify account
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a href="#">
                                                            <span class="not-verified"><i
                                                                    class="icofont-close-line"></i></span>
                                                            Two-factor authentication (2FA)
                                                        </a>
                                                    </li> -->
                                                    <li>
                                                         <form action="#" v-on:submit.prevent = "depositFunds()">
                                                          <div class="form-group" >
                                                              <div class="input-group mb-3">
                                                                  <div class="input-group-prepend">
                                                                      <label class="input-group-text"><i class="fa fa-money"></i></label>
                                                                  </div>
                                                                  <input v-model="deposit_amount" type="text" class="form-control" placeholder="5000 USD">
                                                              </div>
                                                          </div>

                                                          <button type="submit" class="btn btn-primary btn-block">Deposit  Now</button>
                                                      </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                       
                    </div>

                    <div class="col-xl-9 col-xxl-12">
                      
                        <!-- <userbalance :account="account"> </userbalance> -->
                         <div class="row" v-if="loading">
                                     <div class="col-md-4 offset-4" >
                                       <img src="/dash/images/loader.gif" alt="this slowpoke moves"  width=250/>
                                    </div> 
                                
                                </div>           
                            <div class="row" v-else>
                    <div class="col-xl-8 col-lg-12 col-xxl-8" >
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Balances</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="buy-sell-widget">
                                            <form  class="currency_validate form-row">
                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Total Balance</label>
                                                    <h1 class="text-success">{{parseInt(account.available_balance) + parseInt(account.pending_balance) + parseInt(account.locked_balance)}} <span>USD </span></h1>
                                                    <!-- <button type="submit" name="submit"
                                                            class="btn btn-success btn-sm">Deposit Funds</button> -->
                                                </div>

                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Available Balance</label>
                                                    <h1 class="text-success">{{account.available_balance}} <span>USD </span></h1>
                                         
                                                </div>

                                                <div class="form-group col-xl-4 mb-0">
                                                    <label class="mr-sm-2">Investment (Locked)</label>
                                                    <h1 class="text-danger">{{account.locked_balance}} <span>USD </span></h1>
                                                   
                                                </div>

                                               


                                            </form>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        
                            <div class="col-xl-4 col-xxl-6">
                                <div >
                                    <apexchart v-if="renderComponent" type="radialBar" height="350" :options="chartOptions" :series="series"></apexchart>
                                </div>

                            </div>
                            </div>
                    </div>
                    <div class="col-xl-12 col-xxl-12">
                      <div class="card">
                            <div class="card-header border-0">
                                <h4 class="card-title">Transaction</h4>
                            </div>
                            <div class="card-body pt-0" >
                                 <div class="row" v-if="loading">
                                     <div class="col-md-4 offset-4" >
                                       <img src="/dash/images/loader.gif" alt="this slowpoke moves"  width=250/>
                                    </div> 
                                
                                </div>
                                  <div class="transaction-table" v-else>
                                    <div class="table-responsive">
                                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                <thead style="color: white">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Amount</th>
                                                        <th>Type</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="transaction in transactions " :key="transaction.id">
                                                    <td><span class="sold-thumb">{{transaction.id}}</span>
                                                    </td>

                                                    <td>
                                                        <span class="alert alert-success">${{transaction.amount}}</span>
                                                    </td>
                                                    <td>
                                                       {{transaction.type}}
                                                    </td>
                                                    <td>
                                                       {{transaction.description}}
                                                    </td>
                                                    <td>
                                                        {{transaction.status}}
                                                    </td>
                                                    <td class="text-danger">{{transaction.created_at}}</td>
                                                    <td > <button v-on:click.prevent="completePayment(transaction.redirect)" class="btn btn-success btn-sm" v-if="transaction.status == 'Pending Payment'" >Make Payment</button></td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>
        
        </div>
</template>

<script>
// import transactions from './transactions.vue';
    export default {
//   components: { transactions },
    name: "dasboard",
        data(){
        return {
          name: "50",
          account: {},
          user: {},
          loading: false,
          renderComponent: true,
          deposit_amount: 100,
          transactions: [],
          wallets: [] ,
          series: [100, 40, 40, 20],
          chartOptions: {
            chart: {
              height: 350,
              type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                dataLabels: {
                  name: {
                    fontSize: '22px',
                  },
                  value: {
                    fontSize: '16px',
                  },
                  total: {
                    show: true,
                    label: 'Total',
                    formatter: function (w) {
                      // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                      return 100;
                    }
                  }
                }
              }
            },
            labels: ['Total Balance', 'Available Balance', 'Pending Balance', 'Locked Balance'],
          },
        }
        },
       methods: {
         completePayment(url){
           window.location.href = url; 
         },
         depositFunds(){
           if(parseInt(this.deposit_amount) < 100){
              this.$swal(
                        'Error',
                        'The Minimum Deposite is $100',
                        'error'
            ) ;
             
           }else{
              this.open();

            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/createDeposit' , { "amount": this.deposit_amount}).then((response) => {
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Your Deposite Request Has been Created Successful, Please proceed to Make Payment.',
                        'success'
            ) ; 
             setTimeout(() => {
               window.location.href = response.data.redirect; 
             } , 3000)
                         
                      }else{
                    console.log("artisan status not verified");
                      this.$swal(
                        'Error',
                        response.data,
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 
                      }
                     this.close();
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                     this.close();
                       this.$swal(
                        'Error',
                        err.message,
                        'error'
            ) ; 
                    //  window.location.href = '/login'; 

                  });   
           }
         },
         openInvestModal(){
           $('#investModal').modal('show');
          //  this.$swal(
          //               'Successful',
          //               'this.resp',
          //               'success'
          //             ) ;
    //        toastr.success("Complete your profile to make it easier to exchange", "Complete your profile!", {
    //     // timeOut: 500000,
    //     closeButton: !0,
    //     debug: !1,
    //     newestOnTop: !0,
    //     progressBar: !0,
    //     positionClass: "toast-top-right demo_rtl_class",
    //     preventDuplicates: !0,
    //     onclick: null,
    //     showDuration: "300",
    //     hideDuration: "1000",
    //     extendedTimeOut: "1000",
    //     showEasing: "swing",
    //     hideEasing: "linear",
    //     showMethod: "fadeIn",
    //     hideMethod: "fadeOut",
    //     tapToDismiss: !1,
    //     closeHtml: '<div class="circle_progress"></div><span class="progress_count"></span> <i class="la la-close"></i> <a href="#">Suggest</a>'
    // });
         },
     click(){
     this.account.available_balance =parseInt(this.account.available_balance) + 100;

     this.renderComponent = !this.renderComponent ;
     }   ,  
      open(){
                $('#main-wrapper').removeClass('show');
                $('#preloader').fadeIn(20);
      },
      close(){
              $('#preloader').fadeOut(1000);
             $('#main-wrapper').addClass('show');
      },
      validateUser(){
          this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/validateSession').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                         
                      }else{
                    
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });    
      },
      getData(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/userdashboard').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                         this.account = response.data.user.account;
                         this.user = response.data.user;
                         this.transactions = response.data.user.transaction;
                         this.wallets = response.data.user.wallets;
                         this.renderComponent = false;
                          this.series[0] = 100;
           this.series[1] = 30;//(this.account.available_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[2] = 40;//(this.account.pending_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
           this.series[3] = 50;//(this.account.locked_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
this.renderComponent = true;
                        //   this.series[0] = 100;
                        // this.series[1] =parseInt(((parseInt(this.account.available_balance)) /(parseInt(this.account.available_balance)+parseInt(this.account.pending_balance)+parseInt(this.account.locked_balance)))*100);
                        //  this.series[2] = 40;//(this.account.pending_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;
                        //  this.series[3] = 10;//(this.account.locked_balance) /(this.account.available_balance+this.account.pending_balance+this.account.locked_balance)*100;

                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
      }
        
      },
      
        mounted(){
          this.validateUser();
          this.getData();
          this.renderComponent =false;
          Fire.$on('reload', () => {
            this.getData();
          })
          setTimeout(() => {
                $('#example').DataTable({
                  "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                });
                this.series[0] = 100;
                this.series[1] =parseInt(((parseInt(this.account.available_balance)) /(parseInt(this.account.available_balance)+parseInt(this.account.pending_balance)+parseInt(this.account.locked_balance)))*100);
                this.series[2] =parseInt(((parseInt(this.account.pending_balance)) /(parseInt(this.account.available_balance)+parseInt(this.account.pending_balance)+parseInt(this.account.locked_balance)))*100);
                this.series[3] = parseInt(((parseInt(this.account.locked_balance)) /(parseInt(this.account.available_balance)+parseInt(this.account.pending_balance)+parseInt(this.account.locked_balance)))*100);;
                this.renderComponent = true;
          }, 3000);

        }
    }
</script>
