//  <div class="content-body">
//             <div class="container-fluid">
//                 <div class="row">
//                     <div class="col-xl-9 col-xxl-12">
//                         <div class="row">
//                             <div class="col-xl-4 col-lg-12 col-xxl-4">
//                                 <div class="row">
//                                     <div class="col-xxl-12 col-xl-12 col-lg-12">
//                                         <div class="card welcome-profile transparent">
//                                             <div class="card-body">
//                                                 <img src="images/profile/2.png" alt="">
//                                                 <h4>Welcome, Maria Pascle!</h4>
//                                                 <p>Looks like you are not verified yet. Verify yourself to use the full
//                                                     potential of
//                                                     Qash.</p>

//                                                 <ul>
//                                                     <li>
//                                                         <a href="#">
//                                                             <span class="verified"><i
//                                                                     class="icofont-check-alt"></i></span>
//                                                             Verify account
//                                                         </a>
//                                                     </li>
//                                                     <!-- <li>
//                                                         <a href="#">
//                                                             <span class="not-verified"><i
//                                                                     class="icofont-close-line"></i></span>
//                                                             Two-factor authentication (2FA)
//                                                         </a>
//                                                     </li> -->
//                                                     <li>
//                                                         <a href="#">
//                                                             <span class="not-verified"><i
//                                                                     class="icofont-close-line"></i></span>
//                                                             Deposit money
//                                                         </a>
//                                                     </li>
//                                                 </ul>
//                                             </div>
//                                         </div>
//                                     </div>
                                   
                                    
//                                 </div>
//                             </div>
//                             <div class="col-xl-8 col-lg-12 col-xxl-8">
//                                 <div class="card">
//                                     <div class="card-header">
//                                         <h4 class="card-title">Balances</h4>
//                                     </div>
//                                     <div class="card-body">
//                                         <div class="buy-sell-widget">
//                                             <form  class="currency_validate form-row">
//                                                 <div class="form-group col-xl-4 mb-0">
//                                                     <label class="mr-sm-2">Total Balance</label>
//                                                     <p class="text-success">125648 <span>USD </span></p>
//                                                     <button type="submit" name="submit"
//                                                             class="btn btn-success btn-sm">Deposit Funds</button>
//                                                 </div>

//                                                 <div class="form-group col-xl-4 mb-0">
//                                                     <label class="mr-sm-2">Available Balance</label>
//                                                     <p class="text-success">125648 <span>USD </span></p>
//                                                     <button type="submit" name="submit"
//                                                             class="btn btn-success btn-sm">Withdraw Funds</button>
//                                                 </div>

//                                                 <div class="form-group col-xl-4 mb-0">
//                                                     <label class="mr-sm-2">Investment (Locked)</label>
//                                                     <p class="text-success">125648 <span>USD </span></p>
//                                                     <button 
//                                                             class="btn btn-success btn-sm" id="button" >Invest Funds</button>
//                                                 </div>

                                               


//                                             </form>
//                                         </div>
//                                     </div>
//                                 </div>
                             
//                             </div>
//                         </div>
//                     </div>

//                     <div class="col-xl-3 col-xxl-12">
//                         <div class="row">
//                             <div class="col-xl-12 col-xxl-6">
//                                 <div class="card balance-widget transparent">
//                                     <div class="card-body p-0">
//                                         <div class="row">
//                                             <div class="col-xl-12 col-xxl-6 col-lg-6">
//                                                 <div id="wallet-chart"></div>
//                                                 <h4>Total Balance : <strong>$125480</strong></h4>
//                                             </div>
                                           
//                                         </div>
//                                     </div>
//                                 </div>

//                             </div>

                            

//                         </div>

//                     </div>
//                     <div class="col-xl-12 col-xxl-12">
//                         <div class="card">
//                             <div class="card-header border-0">
//                                 <h4 class="card-title">Transaction</h4>
//                             </div>
//                             <div class="card-body pt-0">
//                                 <div class="transaction-table">
//                                     <div class="table-responsive">
//                                             <table id="example" class="table table-striped table-bordered" style="width:100%">
//                                                 <thead style="color: white">
//                                                     <tr>
//                                                         <th>Name</th>
//                                                         <th>Position</th>
//                                                         <th>Office</th>
//                                                         <th>Age</th>
//                                                         <th>Start date</th>
//                                                         <th>Salary</th>
//                                                     </tr>
//                                                 </thead>
//                                                 <tbody>
//                                                 <tr>
//                                                     <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
//                                                     </td>

//                                                     <td>
//                                                         <span class="badge badge-danger">Sold</span>
//                                                     </td>
//                                                     <td>
//                                                         <i class="cc BTC"></i> BTC
//                                                     </td>
//                                                     <td>
//                                                         Using - Bank *******5264
//                                                     </td>
//                                                     <td class="text-danger">-0.000242 BTC</td>
//                                                     <td>-0.125 USD</td>
//                                                 </tr>
//                                                 <tr>
//                                                     <td><span class="buy-thumb"><i class="la la-arrow-up"></i></span>
//                                                     </td>
//                                                     <td>
//                                                         <span class="badge badge-success">Buy</span>
//                                                     </td>
//                                                     <td>
//                                                         <i class="cc LTC"></i> LTC
//                                                     </td>
//                                                     <td>
//                                                         Using - Card *******8475
//                                                     </td>
//                                                     <td class="text-success">-0.000242 BTC</td>
//                                                     <td>-0.125 USD</td>
//                                                 </tr>
//                                                 <tr>
//                                                     <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
//                                                     </td>
//                                                     <td>
//                                                         <span class="badge badge-danger">Sold</span>
//                                                     </td>
//                                                     <td>
//                                                         <i class="cc XRP"></i> XRP
//                                                     </td>
//                                                     <td>
//                                                         Using - Card *******8475
//                                                     </td>
//                                                     <td class="text-danger">-0.000242 BTC</td>
//                                                     <td>-0.125 USD</td>
//                                                 </tr>
//                                                 <tr>
//                                                     <td><span class="buy-thumb"><i class="la la-arrow-up"></i></span>
//                                                     </td>
//                                                     <td>
//                                                         <span class="badge badge-success">Buy</span>
//                                                     </td>
//                                                     <td>
//                                                         <i class="cc DASH"></i> DASH
//                                                     </td>
//                                                     <td>
//                                                         Using - Card *******2321
//                                                     </td>
//                                                     <td class="text-success">-0.000242 BTC</td>
//                                                     <td>-0.125 USD</td>
//                                                 </tr>
//                                             </tbody>
//                                         </table>
//                                     </div>
//                                 </div>
//                             </div>
//                         </div>
//                     </div>
//                 </div>
//             </div>
//         </div>